<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="transmatrix.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="transmatrix.Perspective"
            id="TransMatrix.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="transmatrix.BatchView"
            id="transmatrix.BatchView"
            name="批量计算">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="TransMatrix.application"
            name="TransMatrix">
         <property
               name="appName"
               value="TransMatrix">
         </property>
         <property
               name="aboutImage"
               value="icons/Matrix.png">
         </property>
         <property
               name="aboutText"
               value="交通大学经管学院&#x0A;人际关系矩阵计算软件&#x0A;&#x0A;上海桥培信息科技有限公司&#x0A;(C) All right reserved. 2014">
         </property>
      </product>
   </extension>

</plugin>
